<div *ngIf="isWindow()" hidden='true'></div>
<section class="page-section clearfix">
	<div class="container">
		<div class="intro">
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span class="section-heading-lower">Inicio</span>
				</h2>

				<carousel>
					<div class="carousel-cell">
						<img src="assets/images/9BF.jpg">
					</div>
					<div class="carousel-cell">
						<img src="assets/images/2014-06-minimalist-art.jpg">
					</div>
					<div class="carousel-cell">
						<img src="assets/images/wallpaper-megaman.jpg">
					</div>

				</carousel>
			</div>
		</div>
	</div>
</section>